@keyframes animation {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation {
  animation: animation 0.3s backwards;
}
