<main class="w-screen h-screen flex flex-col items-center">
  <header class="w-full h-[20%] bg-neutral-950 flex items-center justify-center">
    <h1
      class="text-3xl font-extrabold bg-gradient-to-r from-blue-500 to-purple-500 inline-block text-transparent bg-clip-text"
    >to <span>do</span></h1>
  </header>
  <div class="w-[90%] max-w-[800px] -mt-5">
    <section class="mb-8">
      <app-create-todo-form
        [createTodo]="createTodoFormControl"
        (value)="createTodo.execute($event); createTodoFormControl.reset()"
      ></app-create-todo-form>
    </section>
    <section>
      <header class="flex justify-between text-xs mb-2">
        <strong>
          Tarefas criadas <span class="bg-neutral-600 px-2 py-1 rounded-3xl">{{(state.todos$ | async)?.length}}</span>
        </strong>
        <strong>
          Concluídas <span class="bg-neutral-600 px-2 py-1 rounded-3xl">{{(state.completedTodos$ | async)?.length}} de
            {{(state.todos$ | async)?.length}}</span>
        </strong>
      </header>
      <div class="flex flex-col gap-2">

        <ul class="flex flex-col gap-2">
          <app-todo
            *ngFor="let todo of state.uncompletedTodos$ | async"
            [todo]="todo"
            (completed)="toggleDone.execute($event)"
            (remove)="removeTodo.execute($event)"
          ></app-todo>
        </ul>
        <ul class="flex flex-col gap-2">
          <app-todo
            *ngFor="let todo of state.completedTodos$ | async"
            [todo]="todo"
            (completed)="toggleDone.execute($event)"
            (remove)="removeTodo.execute($event)"
          ></app-todo>
        </ul>

      </div>
    </section>
  </div>
</main>